/* all */
.title{
    padding: 50px;
    padding-top: 130px;
    text-align: center;
    font-size: 40px;
    font-family: 'Quicksand';
    color: black;
    -webkit-text-stroke: 0px black;
    z-index: 1;


}






/* Landing page */
.bodyL{
    background-color: #ffffff;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(255, 250, 255);
    margin: 0;
    color: #000000;
    height: 100px;
    align-items: center;
    font-size: 35px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);

}

.flex-item{
    font-weight: 600;
    padding: 40px;

}


.top{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.abt{
    width: 718px;
    height:  718px;
    background-color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    border-right: 2px solid black;
    color: #ffdef0;
    -webkit-text-stroke: 4px black;
    

}

.abt-img{
    width: 718px;
    height:  718px;
}
.info{
    border: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;

    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #ffdef0;
}

.blob{
    font-size: 23px;
    padding: 20px;
    margin-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}



img{
    max-width: 100%;
    max-height: 100%;

}

/* Gallery */


.borderg{
    height: 110px;
    width: 408px;
    position: absolute;
    top: 180px;
    left: 509px;
    border: 2px solid #000000;
    background-color: #f4d1ff; 
    z-index: -1;
}


.pics{
    display: flex;
    justify-content: space-around;

}

.pic{
    margin: 0px;
    width: 364px;
    border: 2px solid black;

}


/* Contact*/

.contact-form{
    display: flex;
    justify-content: center;
    font-family: 'arial';
}

label{
    font-size: 30px;
}

input{
    height: 50px;
    width: 505px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit{
    margin-bottom: 150px;
    width: 200px;
    align-content: center;
    float: right;
    background-color: #a3ffb1;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 21px;
}

::placeholder{
    font-size: 21px;
    justify-content: center;
    color: rgb(255, 198, 233);
}

.borderc{
    height: 110px;
    width: 408px;
    position: absolute;
    top: 180px;
    left: 509px;
    border: 2px solid #000000;
    background-color: #a3ffb1; 
    z-index: -1;
}