/* all */
.title{
    padding: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Quicksand';

}

/*
.border{
    height: 117px;
    width: 446px;
    background-color: #555;
    position: relative;

}
*/



/* Landing page */
.bodyL{
    background-color: #ffffff;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-self: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
    color: rgb(50, 46, 126);
    height: 100px;
    align-items: center;
    font-size: 35px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.flex-item{
    font-weight: 600;
    padding: 20px;
    -webkit-text-stroke: 0px black;

}


.top{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.abt{
    width: 718px;
    height:  718px;
    background-color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    border-right: 2px solid black;
    color: #ffdef0;
    -webkit-text-stroke: 4px black;
    

}

.abt-img{
    width: 718px;
    height:  718px;
}
.info{
    border: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;

    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #ffdef0;
}

.blob{
    font-size: 23px;
    padding: 20px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}



img{
    max-width: 100%;
    max-height: 100%;

}

/* Gallery */

.pics{
    display: flex;
    justify-content: space-around;
}

.pic{
    width: 364px;
    background-color: antiquewhite;

}


/* Contact*/

.contact-form{
    display: flex;
    justify-content: center;
    font-family: 'arial';
}

label{
    font-size: 30px;
}

input{
    height: 50px;
    width: 505px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit{
    margin-bottom: 150px;
    width: 200px;
    align-content: center;
    float: right;
    background-color: #dfb1f8;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 21px;
}

::placeholder{
    font-size: 21px;
    justify-content: center;
    color: rgb(189, 189, 189);
}